# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Database
app.db

# Static Uploads (They are ephemeral on Render anyway)
app/static/uploads/*
!app/static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
